/* line 10, ../sass/pinBoard.scss */
.pinBoard {
  width: 600px;
  height: 350px;
}
/* line 20, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(1):before {
  content: url("../img/pinboard/pin.png");
}
/* line 23, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(1) {
  background: transparent;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 0.3em;
  border: none;
  overflow: none;
}
/* line 20, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(2):before {
  content: url("../img/pinboard/pencil.png");
}
/* line 23, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(2) {
  background: transparent;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 0.3em;
  border: none;
  overflow: none;
}
/* line 20, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(3):before {
  content: url("../img/pinboard/back.png");
}
/* line 23, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(3) {
  background: transparent;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 0.3em;
  border: none;
  overflow: none;
}
/* line 20, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(4):before {
  content: url("../img/pinboard/trashcan.png");
}
/* line 23, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(4) {
  background: transparent;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 0.3em;
  border: none;
  overflow: none;
}
/* line 20, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(5):before {
  content: url("../img/pinboard/download.png");
}
/* line 23, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(5) {
  background: transparent;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 0.3em;
  border: none;
  overflow: none;
}
/* line 20, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(6):before {
  content: url("../img/pinboard/upload.png");
}
/* line 23, ../sass/pinBoard.scss */
.pinBoard div button:nth-child(6) {
  background: transparent;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 0.3em;
  border: none;
  overflow: none;
}
/* line 31, ../sass/pinBoard.scss */
.pinBoard div input[type="file"] {
  position: absolute;
  top: -100px;
}
/* line 36, ../sass/pinBoard.scss */
.pinBoard div .pinBoard-color {
  float: right;
  margin-top: -1em;
  border-radius: 0;
  max-width: 0.1em;
  list-style-type: none;
  position: relative;
  top: 1.5em;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 0.3em;
  border: none;
  overflow: none;
}
/* line 46, ../sass/pinBoard.scss */
.pinBoard div .pinBoard-color li {
  position: relative;
  left: -2em;
  top: 100%;
  height: 0.8em;
  min-width: 1em;
}
/* line 56, ../sass/pinBoard.scss */
.pinBoard input[type="range"] {
  display: inline;
}
/* line 60, ../sass/pinBoard.scss */
.pinBoard canvas {
  border: 1px solid #f2efdf;
  cursor: crosshair;
}
